@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Comic Neue', serif;
}

@font-face {
  font-family: 'pinky-unicorn';
  src: url('/src/assets/fonts/Pinky Unicorn.ttf') format('truetype');
}

.pink-border {
  border: 1px solid !;
  border-image-source: linear-gradient(
    100.7deg,
    rgba(182, 42, 255, 0.5) -82.68%,
    rgba(255, 13, 242, 0.5) 143.2%
  );
}
